body{
    background-color: #E5E5E5
}
header{
    padding: 5px;
    overflow: hidden;
}
header img{
    float: left;
    width: 7%;
}
#avisoMensaje{
    text-align: center;
    margin: 0 200px;
    font-size: 2em;
}
.titulo{
    margin: 0 auto;
    text-align: center;
    font-size: 2.3em;
    width: 30%;
}
.conteiner-medio{
    height: 40em;
}
.boton-principal{
    display: block;
    position: relative;
    top: 25%;
    width: 20%;
    height: 20%;
    margin: 0 auto;
    font-size: 2em;
}
.boton-secundario{
    display: block;
    position: relative;
    top: 30%;
    width: 20%;
    height: 20%;
    margin: 0 auto;
    font-size: 2em;
}
.boton{
    border-radius: 24px;
    background: #0A3871;
    color: white;
    transition: 200ms;
}
.boton:hover{
    opacity: 60%;
}
.boton:disabled{
    opacity: 60%;
}
footer{
    text-align: center;
    padding: 15px;
    font-size: 1.1em;
}
#entrada-palabra{
    position: relative;
    top: 20%;
    height: 30%;
    width: 30%;
    display: block;
    resize: none;
    margin: 0 auto;
    background: #E5E5E5;
    padding-top: 50px;
    text-align: center;
    font-size: 200%;
    color: #0A3871;
    border-radius: 12px;
    border: none;
}
#entrada-palabra:focus{
    outline: none;
}
.advertencia{
    position: relative;
    top: 21%;
    text-align: center;
    margin: 8px auto 0;
    color: #495057
}
#boton-guardar, #boton-atras{
    position: relative;
    width: 14%;
    height: 10%;
    font-size: 18px;
    top: 24%;
    left: 35%;
    margin-left: 10px;
    border-radius: 24px;
    color: white;
    background: #0A3871;
}
.dibujo{
    height: 60%;
    width: 35%;
    display: block;
    margin: 0 auto;
}
.mensajeAviso{
    float:left;
}
.palabra-oculta{
    height: 10%;
    text-align: center;
}
.letra{
    display: inline-block;
    padding: 3px;
    font-size: 50px;
    margin: 0 20px;
    text-align: center;
    height: 80%;
}
.letra p{
    margin: 0 auto;
}
.lineaLetra{
    display: block;
    position: relative;
    top: 55px;
}
.letras-usadas{
    height: 8%;
    color: blue;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    padding-top: 1em;
}
.opciones{
    height: 18%;
    display: flex;
    align-items: center;
}
#boton-nuevoJuego{
    height: 30%;
    width: 15%;
    font-size: 18px;
    margin: 0 auto 0 34.5%;
}
#boton-desistir{
    height: 30%;
    width: 15%;
    font-size: 18px;
    margin: 0 34.5% 0 auto;
}